@model IEnumerable<Smartender.DATA.EF.Cocktail>

@{
    ViewBag.Title = "Gin";
}

<h2>Gin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Link)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Image)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Alcohol.Type)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.AlcReqID == 4)
        {
            <tr>
                <td>
                    <p class="cocktail-name">@Html.DisplayFor(modelItem => item.Name)</p>

                    <p class="table-font">Alcohol required: @Html.DisplayFor(modelItem => item.Alcohol.Type)</p>
                    <p>Click picture for more info and recipe</p>

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DrinkID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DrinkID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DrinkID })
                </td>
                <td class="table-image">
                    <a href="@item.Link">
                        <img src="~/Smartender images/@item.Image"
                             class="drink-img" alt="Drink image for @item.Name" />
                    </a>
                </td>
            </tr>
        }
    }

</table>
